{% extends 'base.html.twig' %}

{% block title %}Modifer mon mot de passe - La Boutique Française{% endblock %}

{% block content %}

    <a href="{{ path('account') }}">Retourner à mon compte</a><br/>
    <hr>

    <h1>Modifier mon mot de passe</h1>

    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}

{% endblock %}
